<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Our APP<br/>Looks Wonderful Now.</h1>
      <h3>It tooks us 1 month to go from zero to deploy.</h3>
    </div>
  </div><!-- /row -->
  
  <div class="row mt centered">
    <div class="col-lg-4">
      <%= image_tag "ser01.png", alt: "" , width: "180" %>
      <h4>Curated news</h4>
      <p>Each Topic has a front page that shows newer submissions that have been rated highly. G-Bloccitors can also post comments about the submission, and respond back and forth in a conversation-tree of comments.</p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag "ser02.png", width: "180", alt:"" %>
      <h4>Wisdom from the crowd</h4>
      <p>You can browse submissions while not logged in with an account. When items (links or text posts) are submitted to the site, G-bloccitors (users) can vote for or against them (upvote/downvote).</p>

    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag "ser03.png", width: "180", alt: "" %>
      <h4>Only the best</h4>
      <p>Front-page rank, for both the general Topics and for individual Posts, is determined by the age of the submission, positive ("upvoted") to negative ("downvoted") feedback ratio and the total vote-count.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">-->
        </div>
        <h2><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning btn-lg', type: "submit" %> today!</h2>
      </form>         
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>G-BLOCCIT is for Everyone.</h1>
      <h3>Bloccit is a resource for sharing links with your friends based on the premise of Reddit!</h3>
    </div>
  </div><!-- /row -->

  <! -- CAROUSEL -->
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "p01.png", alt: "" %>
          </div>
          <div class="item">
            <%= image_tag "p02.png", alt: "" %>
          </div>
          <div class="item">
            <%= image_tag "p03.png", alt: "" %>
          </div>
        </div>
      </div>      
    </div><!-- /col-lg-8 -->
  </div><!-- /row -->
</div><! --/container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">-->
        </div>
        <h2><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning btn-lg', type: "submit" %> today!</h2>
      </form>         
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Our Awesome Team.<br/>Design Lovers.</h1>
      <h3>Written with love in our first month of apprenticeship.</h3>
    </div>
  </div><!-- /row -->
  
  <div class="row mt centered">
    <div class="col-lg-4">
      <%= image_tag "pic1.jpg", class:"img-circle", width: "140", alt: "" %>
      <h4>Gabriel Sarmiento</h4>
      <p>The apprentice.</p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
       <%= image_tag "pic2.jpg", class:"img-circle", width: "140", alt: "" %>
      <h4>Aaron Brongersma</h4>
      <p>The Master.</p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
       <%= image_tag "pic3.jpg", class:"img-circle", width: "140", alt: "" %>
      <h4>BLOC</h4>
      <p>Bloc teaches online courses in Web Development, Design, and iOS. </p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <!--<div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">-->
        </div>
        <h2><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning btn-lg', type: "submit" %> today!</h2>
      </form>         
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
  <hr>
  <p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
</div><!-- /container -->


