<%= simple_form_for [topic, post], defaults: { input_html:{ class: 'form-horizontal' }} do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= control_group_tag(post.errors[:title]) do %>
    <%= f.input :title, label: 'Your Post title',  :hint => "Add your post title here." %>
  <% end %>
  <%= control_group_tag(post.errors[:body]) do %>
    <%= f.input :body , label: 'Your Post content', input_html: {rows: 8},:hint => "Add your post here." %>
    </div>
  <% end %>
  <%= f.button :submit,'Save',:class => 'btn-primary' %>
  </div>
<% end %>